{% extends 'base.html.twig' %}

{% block title %}Hello PlayController!{% endblock %}

{% block body %}
<button type="button">
    <a href="{{ path('app_play_game') }}">Lancer le jeu</a>
</button>
{% endblock %}
