{% extends 'base.html.twig' %}

{% block title %}Hello MyspaceController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th colspan="2">Vos informations :</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Votre pseudo : </th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Votre email : </th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Vérifié :</th>
                {% if user.isVerified %}
                <td>vérifié</td>
                {% else %}
                <td>non vérifié</td>
                {% endif %}
            </tr>
            <tr>
                <th>Conditions acceptées :</th>
                {% if user.agreeTerms %}
                <td>Conditions acceptées</td>
                {% else %}
                <td>Conditions refusées</td>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}
